<h1>Tweets Display Galore</h1>

<h3>Find The Latest Tweets from Your Favorite Users!</h3>

<form action="<%= searches_url %>" method="POST">
  <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
  <label>Username
    <input type="text" name="search[username]" value="">
  </label>
  <input type="submit" value="Search">
</form>
<% if @tweets %>
  <h1>
    <%= @search %>'s Tweets!
  </h1>
  <div id="tweet-container">
    <% @tweets.each do |tweet| %>
    <div class="tweet-box" data-url="<%=tweet.uri%>">
      <h3>
        <%= tweet.full_text %>
      </h3>
      </div>
    <% end %>
  </div>
<% end %>
